<div class="card person bg-light mb-1 mt-4" data-index="{index}">
    <div class="card-body" style="margin-top: 8px;">
        <h5 style="border: 1px solid rgba(0, 0, 0, 0.125); padding: 5px 10px; border-radius: 5px; position: absolute; top: -18px; background: #FFF;">
            <i class="fal fa-fw fa-user"></i> <span class="name">Teilnehmer*in {index}</span>
        </h5>
        <f:if condition="!{required}">
            <a href="#" class="btn btn-danger remove" style="border: 1px solid rgba(0, 0, 0, 0.125); padding: 5px 10px; border-radius: 5px; position: absolute; right: 20px; top: -18px;" title="Teilnehmer*in entfernen">
                <i class="fal fa-fw fa-trash"></i>
            </a>
        </f:if>
        <f:render partial="Person/FormFields" arguments="{index : index, person : person}" />
    </div>
</div>