<f:layout name="LeibnizEmail" />
<f:section name="Title">
    <f:translate key="email.confirmation.subject" extensionName="BwRegistration" />
</f:section>
<f:section name="Subject">
    <f:translate key="email.confirmation.headline" extensionName="BwRegistration" />
</f:section>
<f:section name="Main">
    <h4>Guten Tag,</h4>
    <p>mit dieser E-Mail möchten wir Ihnen Ihre Registrierung für die Veranstaltung <i>{registration.event.name}</i> bestätigen.</p>
    <p>
        <strong>Ihr Zeitraum:</strong><br>
        <i><f:format.date format="d.m.Y - H:i">{registration.slot.beginDatetime}</f:format.date> Uhr</i> bis <i><f:format.date format="d.m.Y - H:i">{registration.slot.endDatetime}</f:format.date> Uhr</i>
    </p>

    <strong>Registrierte Personen:</strong>
    <ul style="margin-top: 0; padding-top: 0;">
        <f:for each="{registration.persons}" as="person">
            <li style="margin-top: 0; padding-top: 0;">{person.firstName} {person.lastName}</li>
        </f:for>
    </ul>

    <p>
        <strong>Registrierung stornieren:</strong><br>
        Wenn Sie doch nicht an der Veranstaltung teilnehmen können, würden wir Sie bitten Ihre Registrierung <a href="{revokeUri}">hier</a> zu stornieren um anderen Besucher*innen die Teilnahme zu ermöglichen.
    </p>

    <p>
        Viele Grüße,<br>
        <i>das LGD</i>
    </p>
</f:section>