<div id="personsContainer">
    <div class="d-none hidden" id="personBlueprint">
        <f:render partial="Person/FormFieldsWrapper" arguments="{index : '###index###'}" />
    </div>

    <h2><f:translate key="tx_bwregistration_domain_model_registration.persons" />:</h2>
    <p class="text-muted">
        <f:translate key="tx_bwregistration_domain_model_registration.persons.description" />
    </p>
    <div id="persons" data-max-persons="{event.personsPerRegistration}">
        <f:if condition="{registration}">
            <f:then>
                <f:for each="{registration.persons}" as="person" iteration="iter" key="index">
                    <f:render partial="Person/FormFieldsWrapper" arguments="{index : index, person : person, required : iter.isFirst}" />
                </f:for>
            </f:then>
            <f:else>
                <f:render partial="Person/FormFieldsWrapper" arguments="{index : 1, required : 1}" />
            </f:else>
        </f:if>
    </div>
    <div class="text-right">
        <f:if condition="{registration.persons -> f:count()} >= {event.personsPerRegistration} || {event.personsPerRegistration} == 1">
            <f:then>
                <a href="#" class="btn btn-success btn-sm newPerson mt-1" style="display: none;">Weitere*n Teilnehmer*in hinzufügen</a>
            </f:then>
            <f:else>
                <a href="#" class="btn btn-success btn-sm newPerson mt-1">Weitere*n Teilnehmer*in hinzufügen</a>
            </f:else>
        </f:if>
    </div>
</div>