<f:layout name="Default" />
{namespace core = TYPO3\CMS\Core\ViewHelpers}

<f:section name="content">
	<ol class="breadcrumb">
		<li>
			<f:link.action action="list">Alle Veranstaltungen</f:link.action>
		</li>
		<li class="active">{event.name}</li>
	</ol>

	<h1>{event.name}</h1>

	<f:if condition="{slot}">
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				Daten exportieren
			</button>
			<ul class="dropdown-menu">
				<li>
					<f:link.action controller="Export" action="persons" arguments="{event : event}" class="dropdown-item">
						Alle Teilnehmer:innen exportieren
					</f:link.action>
				</li>
				<li>
					<f:link.action controller="Export" action="emails" arguments="{event : event}" class="dropdown-item">
						Alle E-Mail-Adressen exportieren
					</f:link.action>
				</li>
				<div class="dropdown-divider"></div>
				<li>
					<f:link.action controller="Export" action="persons" arguments="{event : event, slot : slot}" class="dropdown-item">
						Teilnehmer:innen dieses Slots exportieren
					</f:link.action>
				</li>
				<li>
					<f:link.action controller="Export" action="emails" arguments="{event : event, slot : slot}" class="dropdown-item">
						E-Mail-Adressen dieses Slots exportieren
					</f:link.action>
				</li>
			</ul>
		</div>
	</f:if>

	<h2>Slots:</h2>
	<f:if condition="{slot}">
		<f:then>
			<f:link.action controller="Slot" action="new" arguments="{event : event}" class="btn btn-default">
				<core:icon identifier="actions-plus" size="small" />  Slot anlegen
			</f:link.action>
			<div class="row mt-3">
				<f:for each="{event.slots}" as="myslot">
					<div class="col-12 col-md-4">
						<f:if condition="{slot.uid} == {myslot.uid}">
							<f:then>
								<div class="card bg-info">
									<f:render section="slotbody" arguments="{event : event, slot : myslot}" />
								</div>
							</f:then>
							<f:else>
								<div class="card">
									<f:render section="slotbody" arguments="{event : event, slot : myslot}" />
								</div>
							</f:else>
						</f:if>
					</div>
				</f:for>
			</div>
		</f:then>
		<f:else>
			<p>Es ist noch kein Slot angelegt. Lege jetzt den ersten Slot an.</p>

			<f:link.action controller="Slot" action="new" arguments="{event : event}" class="btn btn-default">
				<i class="fa fa-fw fa-plus"></i> Slot anlegen
			</f:link.action>
		</f:else>
	</f:if>

	<f:flashMessages />

	<f:if condition="{slot}">
		<h2>Registrierungen im aktuellen Slot:</h2>
		<f:if condition="{registrations -> f:count()} > 0">
			<f:then>
				<f:render partial="Event/Show/Registrations" arguments="{registrations : registrations}" />
			</f:then>
			<f:else>
				<p>Noch keine Registrierungen vorhanden.</p>
			</f:else>
		</f:if>

		<f:if condition="{deletedRegistrations -> f:count()} > 0">
			<a href="#" id="showdeleted" class="text-muted">
				Wiederrufene Registrierungen anzeigen
			</a>
			<div id="deleted" class="hidden">
				<h2>Wiederrufene Registrierungen im aktuellen Slot:</h2>
				<f:render partial="Event/Show/Registrations" arguments="{registrations : deletedRegistrations}" />
			</div>
		</f:if>
	</f:if>

	<script>
		require(['jquery'], function($) {
			$('#showdeleted').click(function() {
				$(this).fadeOut().queue(function() {
					const deleted = $('#deleted');
					deleted.removeClass('hidden').hide().fadeIn();
					$(this).dequeue();
				});
				return false;
			})
		});
	</script>

	<style>
		tr.firstrow td {
			border-top: 2px dotted #000 !important;
		}
	</style>
</f:section>


<f:section name="slotbody">
	<div class="card-body" style="display: flex;">
		<f:link.action action="show" arguments="{event : event, slot : slot}" style="flex-grow: 1; padding: 15px 0;">
			<div class="text-center" style="margin: 0 10px;">
				<f:render partial="Slot/Datetime" arguments="{slot : slot}" />
				<div class="text-muted small" style="margin-top: 10px">
					{slot.occupiedPersons} von {slot.maxPersons} Plätzen belegt
				</div>
			</div>
		</f:link.action>
		<div style="margin: 0 10px; padding: 15px 0;">
			<p>
				<f:link.action controller="Slot" action="edit" arguments="{slot : slot}" class="btn btn-sm btn-default" title="Slot bearbeiten">
					<core:icon identifier="actions-open" size="small" />
				</f:link.action>
			</p>
			<f:render partial="Event/Show/DeleteSlot" arguments="{slot : slot}" />
		</div>
	</div>
</f:section>