{namespace bw=BoergenerWebdesign\BwRegistration\ViewHelpers}
<f:layout name="Default" />
<f:section name="main">
	<f:if condition="{notAccessible}">
		<f:render partial="Registration/New/NotAccessible" />
	</f:if>
	<f:if condition="{event.slots -> f:count()} == 0">
		<f:render partial="Registration/New/NoSlots" />
	</f:if>
	<f:if condition="!{notAccessible} && {event.slots -> f:count()} > 0">
		<h1>{event.name}</h1>
		<f:form action="create" object="Registration" objectName="registration" pageType="{bw:pageType()}">
			<f:render partial="Registration/FormFields" arguments="{_all}" />

			<f:form.hidden property="event" value="{event.uid}" />
			<f:form.button type="submit" class="btn btn-success">Zur Veranstaltung anmelden</f:form.button>
		</f:form>
	</f:if>

	<script>
		$('form').submit(function() {
			const submitButton = $('button[type="submit"]');
			submitButton.html("Anmeldung wird verarbeitet...");
			submitButton.prop("disabled", true);
		});
	</script>
</f:section>