<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th><f:translate key="tx_bwregistration_domain_model_person.first_name" /></th>
        <th><f:translate key="tx_bwregistration_domain_model_person.last_name" /></th>
        <th><f:translate key="tx_bwregistration_domain_model_person.street_and_number" /></th>
        <th><f:translate key="tx_bwregistration_domain_model_person.zip" /></th>
        <th><f:translate key="tx_bwregistration_domain_model_person.town" /></th>
        <th><f:translate key="tx_bwregistration_domain_model_person.phone" /></th>
        <th><f:translate key="tx_bwregistration_domain_model_person.email" /></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <f:for each="{slot.registrations}" as="registration">
        <f:for each="{registration.persons}" as="person" iteration="iter">
            <tr class="{f:if(condition : iter.isFirst, then : 'firstrow')}">
                <td>{person.uid}</td>
                <td>{person.firstName}</td>
                <td>{person.lastName}</td>
                <td>{person.streetAndNumber}</td>
                <td>{person.zip}</td>
                <td>{person.town}</td>
                <td>{person.phone}</td>
                <td>{person.email}</td>
                <f:if condition="{iter.isFirst}">
                    <td class="text-right" rowspan="{registration.persons -> f:count()}">
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#registration-delete-{registration.uid}">
                            <i class="fa fa-fw fa-trash-o"></i>
                        </button>


                        <!-- Modals -->
                        <f:form controller="Registration" action="revoke">
                            <div class="text-left modal fade" id="registration-delete-{registration.uid}" tabindex="-1" role="dialog" aria-labelledby="registration-delete-{registration.uid}-label">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="registration-delete-{registration.uid}-label">
                                                Registrierung entfernen
                                            </h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <strong><f:translate key="email.revoke.notify" /></strong>
                                                <div class="checkbox">
                                                    <label>
                                                        <f:form.checkbox value="1" checked="1" name="notify" /> <f:translate key="email.revoke.notify.checkbox" />
                                                    </label>
                                                </div>
                                            </div>
                                            <f:form.textfield name="registration" value="{registration.uid}" />
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                                            <f:form.button type="submit" class="btn btn-danger">Registrierung stornieren</f:form.button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </f:form>



                    </td>
                </f:if>
            </tr>
        </f:for>
    </f:for>
    </tbody>
</table>