<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th><f:translate key="tx_bwregistration_domain_model_person.first_name" /></th>
        <th><f:translate key="tx_bwregistration_domain_model_person.last_name" /></th>
        <th><f:translate key="tx_bwregistration_domain_model_person.street_and_number" /></th>
        <th><f:translate key="tx_bwregistration_domain_model_person.zip" /></th>
        <th><f:translate key="tx_bwregistration_domain_model_person.town" /></th>
        <th><f:translate key="tx_bwregistration_domain_model_person.phone" /></th>
        <th><f:translate key="tx_bwregistration_domain_model_person.email" /></th>
        <th><f:translate key="tx_bwregistration_domain_model_registration.attended_time" /></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <f:for each="{registrations}" as="registration">
        <f:for each="{registration.persons}" as="person" iteration="iter">
            <tr class="{f:if(condition : iter.isFirst, then : 'firstrow')} {f:if(condition : registration.attended, then : 'bg-success')}">
                <td>{person.uid}</td>
                <td>{person.firstName}</td>
                <td>{person.lastName}</td>
                <td>{person.streetAndNumber}</td>
                <td>{person.zip}</td>
                <td>{person.town}</td>
                <td>
                    <a href="tel:{person.phone}">{person.phone}</a>
                </td>
                <td>
                    <a href="mailto:{person.email}">{person.email}</a>
                </td>
                <f:if condition="{iter.isFirst}">
                    <td rowspan="{registration.persons -> f:count()}">
                        <f:if condition="{registration.attended}">
                            <f:format.date format="d.m.Y - H:i">{registration.attendedTime}</f:format.date> Uhr
                        </f:if>
                    </td>
                    <td class="text-right" rowspan="{registration.persons -> f:count()}">
                        <f:render partial="Event/Show/Registrations/Buttons" arguments="{_all}" />
                    </td>
                </f:if>
            </tr>
        </f:for>
    </f:for>
    </tbody>
</table>