{namespace bw=BoergenerWebdesign\BwRegistration\ViewHelpers}
<f:layout name="Default" />

<f:section name="content">
    <ol class="breadcrumb">
        <li>
            <f:link.action controller="Event" action="list">
                Alle Veranstaltungen
            </f:link.action>
        </li>
        <li>
            <f:link.action controller="Event" action="show" arguments="{event : event}">
                {event.name}
            </f:link.action>
        </li>
        <li class="active">Slot erstellen</li>
    </ol>

    <f:form action="create" objectName="slot">
        <f:render partial="Slot/FormFields" />
        <f:form.hidden property="event" value="{event.uid}" />
        <f:form.button type="submit" class="btn btn-success">
            Slot erstellen
        </f:form.button>
    </f:form>

</f:section>