<f:layout name="Default" />

<f:section name="content">
	<ol class="breadcrumb">
		<li>
			<f:link.action action="list">Alle Veranstaltungen</f:link.action>
		</li>
		<li class="active">{slot.event.name}</li>
		<li class="active">
			<f:format.date format="d.m.Y - H:i">{slot.beginDatetime}</f:format.date> Uhr
		</li>
	</ol>

	<h1>{slot.event.name}</h1>

	<div class="clearfix">
		<div class="pull-left">
			<f:form.select class="form-control" id="slotSelect">
				<f:for each="{slot.event.slotsByDate}" key="date" as="slots">
					<f:form.select.optgroup label="{date}">
						<f:for each="{slots}" as="aSlot">
							<f:if condition="{aSlot.uid} == {slot.uid}">
								<f:then>
									<f:form.select.option value="{aSlot.uid}" data="{uri : '{f:uri.action(action : \'show\', arguments : {slot : aSlot})}'}" selected="1">
										<f:format.date format="H:i">{aSlot.beginDatetime}</f:format.date> - <f:format.date format="H:i">{aSlot.endDatetime}</f:format.date>
									</f:form.select.option>
								</f:then>
								<f:else>
									<f:form.select.option value="{aSlot.uid}" data="{uri : '{f:uri.action(action : \'show\', arguments : {slot : aSlot})}'}">
										<f:format.date format="H:i">{aSlot.beginDatetime}</f:format.date> - <f:format.date format="H:i">{aSlot.endDatetime}</f:format.date>
									</f:form.select.option>
								</f:else>
							</f:if>
						</f:for>
					</f:form.select.optgroup>
				</f:for>
			</f:form.select>
		</div>
		<div class="pull-right">
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-new">
				<i class="fa fa-fw fa-plus"></i> Teilnehmer*innen hinzufügen
			</button>
			<f:link.action controller="Slot" action="list" class="btn btn-default">
				<i class="fa fa-fw fa-edit"></i> Slots bearbeiten
			</f:link.action>
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-fw fa-share"></i>
					Daten exportieren <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li>
						<f:link.action controller="Export" action="persons" arguments="{event : slot.event}">
							Alle Teilnehmer*innen exportieren
						</f:link.action>
					</li>
					<li>
						<f:link.action controller="Export" action="emails" arguments="{event : slot.event}">
							Alle E-Mail-Adressen exportieren
						</f:link.action>
					</li>
					<li role="separator" class="divider"></li>
					<li>
						<f:link.action controller="Export" action="persons" arguments="{event : slot.event, slot : slot}">
							Teilnehmer*innen dieses Slots exportieren
						</f:link.action>
					</li>
					<li>
						<f:link.action controller="Export" action="emails" arguments="{event : slot.event, slot : slot}">
							E-Mail-Adressen dieses Slots exportieren
						</f:link.action>
					</li>
				</ul>
			</div>
		</div>
	</div>


	<f:flashMessages />

	<h2>Registrierungen im aktuellen Slot:</h2>
	<f:if condition="{slot.registrations -> f:count()} > 0">
		<f:then>
			<f:render partial="Event/Show/Registrations" arguments="{registrations : slot.registrations}" />
		</f:then>
		<f:else>
			<p>Noch keine Registrierungen vorhanden.</p>
		</f:else>
	</f:if>

	<f:if condition="{deletedRegistrations -> f:count()} > 0">
		<a href="#" id="showdeleted" class="text-muted">
			Wiederrufene Registrierungen anzeigen
		</a>
		<div id="deleted" class="hidden">
			<h2>Wiederrufene Registrierungen im aktuellen Slot:</h2>
			<f:render partial="Event/Show/Registrations" arguments="{registrations : deletedRegistrations}" />
		</div>
	</f:if>



	<f:render section="newRegistration" arguments="{_all}" />

	<script>
		require(['jquery'], function($) {
			$('#slotSelect').change(function() {
				const selected = $(this).find('option:selected');
				const uri = selected.attr("data-uri");
				window.location = uri;
			})

			$('#showdeleted').click(function() {
				$(this).fadeOut().queue(function() {
					const deleted = $('#deleted');
					deleted.removeClass('hidden').hide().fadeIn();
					$(this).dequeue();
				});
				return false;
			})
		});
	</script>

	<style>
		tr.firstrow td {
			border-top: 2px dotted #000 !important;
		}
	</style>
</f:section>


<f:section name="newRegistration">
	<f:form controller="Registration" action="create" object="Registration" objectName="registration">
		<div class="modal fade" id="modal-new" tabindex="-1" role="dialog" aria-labelledby="modal-new-label">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="modal-new-label">Neue Registrierung hinzufügen</h4>
					</div>
					<div class="modal-body">
						<f:render partial="Registration/FormFields" arguments="{event : slot.event}" />

						<div class="form-group">
							<h2>Teilnahmezeit</h2>
							<p class="text-muted">
								Wenn Sie eine Registrierung nachträglich einfügen können Sie hier direkt die Teilnahmezeit eintragen.
							</p>
							<div class="form-inline">
								<f:form.textfield type="date" property="attendedTime.date" class="form-control" value="{f:format.date(format : 'Y-m-d', date : slot.beginDatetime)}" />
								<f:form.textfield type="time" property="attendedTime.time" class="form-control" value="{f:format.date(format : 'H:i', date : slot.beginDatetime)}" />
							</div>
						</div>

						<f:form.hidden property="slot" value="{slot.uid}" />
						<f:form.hidden property="event" value="{slot.event.uid}" />
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
						<f:form.button type="submit" class="btn btn-success">Registrierung hinzufügen</f:form.button>
					</div>
				</div>
			</div>
		</div>
	</f:form>
</f:section>