<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-event-{event.uid}" title="Veranstaltung löschen">
    <i class="fa fa-fw fa-trash-o"></i>
</button>

<!-- Modal -->
<div class="modal fade text-start" id="delete-event-{event.uid}" tabindex="-1" role="dialog" aria-labelledby="delete-event-{event.uid}-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="delete-event-{event.uid}-label">Veranstaltung löschen</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Möchtest du diese Veranstaltung sowie alle zugehörigen Slots und Registrierungen wirklich unwiderruflich löschen?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Schließen</button>
                <f:link.action action="delete" arguments="{event : event}" class="btn btn-danger">Veranstaltung löschen</f:link.action>
            </div>
        </div>
    </div>
</div>