{namespace core = TYPO3\CMS\Core\ViewHelpers}
<!-- Button trigger modal -->
<button type="button" class="btn btn-default" data-bs-toggle="modal" data-bs-target="#embed-event-{event.uid}" title="Registrierungsformular einbetten">
    <core:icon identifier="actions-code-pull-request" size="small" /> Einbetten
</button>

<!-- Modal -->
<div class="modal fade" id="embed-event-{event.uid}" tabindex="-1" aria-labelledby="embed-event-{event.uid}-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="embed-event-{event.uid}-label">Event einbetten</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-start">
                <p>
                    Füge folgenden Code an die Stelle ein, an der die Event-Registrierung ausgegeben werden soll:<br>
                    <code>
                        <f:format.htmlentities>
                            <iframe id="bw_registration_frame" src="{bw:host()}/?type=1603150059&event={event.uid}" style="width: 100%; border: none;" scrolling="no" height="2000"></iframe>
                        </f:format.htmlentities>
                    </code>
                </p>
                <p>
                    Folgendes Skript musst du <strong>einmalig</strong> am Ende der Seite (oder zumindest hinter den Einbettungscode des iFrames) einfügen:<br>
                    <code>
                        <f:format.htmlentities>
                            <script src="{bw:host()}/typo3conf/ext/bw_registration/Resources/Public/JavaScript/parentframe.js"></script>
                        </f:format.htmlentities>
                    </code>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>